#welcome-section{
    background-color: darkgray;
}
#projects{
    background-color: darkslategray;
}
#center_heading{
    height:100vh;
}
h1{
    text-shadow: 1px 1px 15px black;
}

.nav-item{
    opacity:0.3;
    background-color:wheat;
}

#navbar a{
    color:black;
}

#navbar a:hover {
text-shadow: 1px 1px 3px aqua;
}

#navbar li:hover{
opacity: 0.7;
}

.card-link{
    text-decoration: none;
    color: initial;
}
footer{
    opacity:0.3;
}