#welcome-section{
    background-color: darkgray;
}
#projects{
    height: 100vh;
    background-color: darkslategray;
}
#center_heading{
    height:100vh;
}
h1{
    text-shadow: 1px 1px 15px black;
}

#navbar a{
    color:black;
}

#navbar a:hover {
text-shadow: 1px 0px 3px greenyellow;}

.card-link{
    text-decoration: none;
    color: initial;
}